[submodule "libs/main4ino-arduino"]
	path = libs/main4ino-arduino
	url = git@bitbucket.org:mauriciojost/main4ino-arduino.git
[submodule "libs/log4ino-arduino"]
	path = libs/log4ino-arduino
	url = git@github.com:mauriciojost/log4ino-arduino.git
